@tailwind base;

button {
  background-color: #00666F;
  transition: 0.2s;
  @apply font-bold p-2 m-2 text-white;
}

button:focus {
  outline: none;
}

button:hover {
  transform: scale(1.02);
  background-color: #00737e;
}

.border-primary-color {
  border-color: #00666F;
}

.primary-color {
  background-color: #00666F;
}

.background-color {
  background-color: #f1f1f1 !important;
}

.text-color {
  color: #666B6E !important;
}

@tailwind components;
@tailwind utilities;