@tailwind base;

@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("./../assets/font/Inter\ Web/Inter-Regular.woff2?v=3.15") format("woff2"),
         url("./../assets/font/Inter\ Web/Inter-Regular.woff?v=3.15") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: auto;
    src: url("./../assets/font/Inter\ Web/Inter-Italic.woff2?v=3.15") format("woff2"),
         url("./../assets/font/Inter\ Web/Inter-Italic.woff?v=3.15") format("woff");
  }

  @font-face {
    font-family: "Inter";
    font-style: bold;
    font-weight: 700;
    font-display: auto;
    src: url("./../assets/font/Inter\ Web/Inter-Bold.woff2?v=3.15") format("woff2"),
         url("./../assets/font/Inter\ Web/Inter-Bold.woff?v=3.15") format("woff");
  }

  /* @font-face {
    font-family: "Inter";
    font-style: "bolditalic";
    font-weight: 700;
    font-display: auto;
    src: url("./../assets/font/Inter\ Web/Inter-BoldItalic.woff2?v=3.15") format("woff2"),
         url("./../assets/font/Inter\ Web/Inter-BoldItalic.woff?v=3.15") format("woff");
  } */
}

* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

button:focus {
  outline: unset;
}

@tailwind components;
@tailwind utilities;